
*.pper
*.Rdata/*
*.Rhistory/
*.Rdata
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
*.Rproj.user/*/*/*/*/*/*
.Rproj.user/0F86D29C/pcs/files-pane.pper
.Rproj.user/0F86D29C/pcs/source-pane.pper
.Rproj.user/0F86D29C/pcs/source-window.pper
.Rproj.user/0F86D29C/pcs/windowlayoutstate.pper
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF-contents
.Rproj.user/0F86D29C/sources/per/t/EBBE3273
.Rproj.user/0F86D29C/sources/per/u/1CD38EBD
.Rproj.user/0F86D29C/sources/per/u/1CD38EBD-contents
.Rproj.user/0F86D29C/sources/per/u/88084A04
.Rproj.user/0F86D29C/sources/per/u/88084A04-contents
.Rproj.user/0F86D29C/sources/per/u/B9675E8C
.Rproj.user/0F86D29C/sources/per/u/B9675E8C-contents
.Rproj.user/0F86D29C/sources/prop/20895B6F
.Rproj.user/0F86D29C/sources/prop/2F4A9615
.Rproj.user/0F86D29C/sources/prop/39014CC8
.Rproj.user/0F86D29C/sources/prop/40D18C10
.Rproj.user/0F86D29C/sources/prop/4E93FB71
.Rproj.user/0F86D29C/sources/prop/7CBB78DF
.Rproj.user/0F86D29C/sources/prop/882245DF
.Rproj.user/0F86D29C/sources/prop/AF031DC6
.Rproj.user/0F86D29C/sources/prop/E38FBC03
.Rproj.user/0F86D29C/sources/prop/E432AF6F
.Rproj.user/0F86D29C/sources/prop/INDEX
.Rproj.user/0F86D29C/sources/s-F879BFA8/6E07BD8B
.Rproj.user/0F86D29C/sources/s-F879BFA8/6E07BD8B-contents
.Rproj.user/0F86D29C/sources/s-F879BFA8/ABB87FC0
.Rproj.user/0F86D29C/sources/s-F879BFA8/ABB87FC0-contents
.Rproj.user/0F86D29C/sources/s-F879BFA8/lock_file
.Rproj.user/0F86D29C/viewer-cache/0F0C111E.Rdata
.Rproj.user/0F86D29C/viewer-cache/56588F86.Rdata
.Rproj.user/0F86D29C/viewer-cache/67F09C6F.Rdata
.Rproj.user/0F86D29C/viewer-cache/803A0AB2.Rdata
.Rproj.user/2FF44EFF/sources/s-C364A770/2B3B6CB6
.Rproj.user/2FF44EFF/sources/s-C364A770/2B3B6CB6-contents
.Rproj.user/2FF44EFF/sources/s-C364A770/ECDC812D
.Rproj.user/2FF44EFF/sources/s-C364A770/ECDC812D-contents
.Rproj.user/2FF44EFF/sources/s-C364A770/lock_file
*.Rdata
*.Rdata
*.Rdata
.Rproj.user/0F86D29C/pcs/files-pane.pper
*.pper
.Rproj.user/0F86D29C/pcs/files-pane.pper
*.pper
.RData
.RDataTmp7
.Rhistory
.Rproj.user/0F86D29C/pcs/files-pane.pper
.Rproj.user/0F86D29C/pcs/source-pane.pper
.Rproj.user/0F86D29C/pcs/source-window.pper
.Rproj.user/0F86D29C/pcs/windowlayoutstate.pper
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
