
*.pper
*.Rdata/*
*.Rhistory/
*.Rdata
# History files
.Rhistory
.Rapp.history
./bladder_cancer/plots/*
./bladder_cancer/settings/*

*/*.png
*.png
./*.jpeg

# Session Data files
.RData
.RDataTmp
./bladder_cancer/plots/*
./bladder_cancer/iCluster/*
./bladder_cancer/plots/*
.tmp.driveupload/*
.Rproj.user/*/*/*/*/*
bladder_cancer/plots/*
bladder_cancer/settings/*
mds/*
*.png
plots/*
plots/*
plots/barplot_byGroupobjective_method.png
review/output/*
output/*


bladder_cancer/Enrichment/*
*/plots/*
unused ppmi/*/*/*
.RData*

ppmi/ppmi_data/*/*

*.Rproj.user/*/*/*/*/*/*
.Rproj.user/0F86D29C/pcs/files-pane.pper
.Rproj.user/0F86D29C/pcs/source-pane.pper
.Rproj.user/0F86D29C/pcs/source-window.pper
.Rproj.user/0F86D29C/pcs/windowlayoutstate.pper
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF-contents
.Rproj.user/0F86D29C/sources/per/t/EBBE3273
.Rproj.user/0F86D29C/sources/per/u/1CD38EBD
.Rproj.user/0F86D29C/sources/per/u/1CD38EBD-contents
.Rproj.user/0F86D29C/sources/per/u/88084A04
.Rproj.user/0F86D29C/sources/per/u/88084A04-contents
.Rproj.user/0F86D29C/sources/per/u/B9675E8C
.Rproj.user/0F86D29C/sources/per/u/B9675E8C-contents
.Rproj.user/0F86D29C/sources/prop/20895B6F
.Rproj.user/0F86D29C/sources/prop/2F4A9615
.Rproj.user/0F86D29C/sources/prop/39014CC8
.Rproj.user/0F86D29C/sources/prop/40D18C10
.Rproj.user/0F86D29C/sources/prop/4E93FB71
.Rproj.user/0F86D29C/sources/prop/7CBB78DF
.Rproj.user/0F86D29C/sources/prop/882245DF
.Rproj.user/0F86D29C/sources/prop/AF031DC6
.Rproj.user/0F86D29C/sources/prop/E38FBC03
.Rproj.user/0F86D29C/sources/prop/E432AF6F
.Rproj.user/0F86D29C/sources/prop/INDEX
.Rproj.user/0F86D29C/sources/s-F879BFA8/6E07BD8B
.Rproj.user/0F86D29C/sources/s-F879BFA8/6E07BD8B-contents
.Rproj.user/0F86D29C/sources/s-F879BFA8/ABB87FC0
.Rproj.user/0F86D29C/sources/s-F879BFA8/ABB87FC0-contents
.Rproj.user/0F86D29C/sources/s-F879BFA8/lock_file
.Rproj.user/0F86D29C/viewer-cache/0F0C111E.Rdata
.Rproj.user/0F86D29C/viewer-cache/56588F86.Rdata
.Rproj.user/0F86D29C/viewer-cache/67F09C6F.Rdata
.Rproj.user/0F86D29C/viewer-cache/803A0AB2.Rdata
.Rproj.user/2FF44EFF/sources/s-C364A770/2B3B6CB6
.Rproj.user/2FF44EFF/sources/s-C364A770/2B3B6CB6-contents
.Rproj.user/2FF44EFF/sources/s-C364A770/ECDC812D
.Rproj.user/2FF44EFF/sources/s-C364A770/ECDC812D-contents
.Rproj.user/2FF44EFF/sources/s-C364A770/lock_file
*.Rdata
*.Rdata
*.Rdata
.Rproj.user/0F86D29C/pcs/files-pane.pper
*.pper
.Rproj.user/0F86D29C/pcs/files-pane.pper
*.pper
.RData
.RDataTmp7
.Rhistory
.Rproj.user/0F86D29C/pcs/files-pane.pper
.Rproj.user/0F86D29C/pcs/source-pane.pper
.Rproj.user/0F86D29C/pcs/source-window.pper
.Rproj.user/0F86D29C/pcs/windowlayoutstate.pper
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user
review/output/data_diseases.txt
*.csv

bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_1heatmap_proteins.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.672heatmap_multi_trained.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_1heatmap_multi_trained.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_2heatmap_genes.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_2heatmap_multi_trained.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_2heatmap_proteins.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67gene_k_2heatmap_genes.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67heatmap.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67heatmap_genes.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67heatmap_multi.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67heatmap_multi_trained.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67protein_k_2heatmap_genes.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67protein_k_2heatmap_proteins.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67proteinheatmap_multi.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67proteinheatmap_multi_trained.png
bladder_cancer/iCluster/geneVars_genes_single_DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_X.csv
bladder_cancer/iCluster/geneVars_genesDE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_X.csv
*.Rdata
.RData
.RDataTmp10
.RDataTmp11
.RDataTmp13
.RDataTmp14
.RDataTmp15
.RDataTmp16
.RDataTmp17
.RDataTmp18
.RDataTmp19
.RDataTmp20
.RDataTmp21
.RDataTmp22
.RDataTmp23
.RDataTmp24
.RDataTmp25
.RDataTmp26
.RDataTmp27
.RDataTmp28
.RDataTmp29
.RDataTmp8
.RDataTmp9
.Rhistory
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/AB7C4739-contents
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/BCBD1940-contents
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF-contents
.Rproj.user/0F86D29C/sources/per/t/EBBE3273
.Rproj.user/0F86D29C/sources/per/t/EBBE3273-contents
.Rproj.user/0F86D29C/sources/per/u/1CD38EBD
.Rproj.user/0F86D29C/sources/per/u/1CD38EBD-contents
.Rproj.user/0F86D29C/sources/per/u/88084A04
.Rproj.user/0F86D29C/sources/per/u/88084A04-contents
.Rproj.user/0F86D29C/sources/per/u/B9675E8C
.Rproj.user/0F86D29C/sources/per/u/B9675E8C-contents
.Rproj.user/0F86D29C/sources/prop/INDEX
.Rproj.user/0F86D29C/viewer-cache/0F0C111E.Rdata
.Rproj.user/0F86D29C/viewer-cache/56588F86.Rdata
.Rproj.user/0F86D29C/viewer-cache/67F09C6F.Rdata
.Rproj.user/0F86D29C/viewer-cache/803A0AB2.Rdata
.Rproj.user/0F86D29C/viewer-cache/BC5C8017.Rdata
.Rproj.user/49311ECD/sources/s-FED926B6/D7FACC12
.Rproj.user/49311ECD/sources/s-FED926B6/D7FACC12-contents
pca_gene.png
pca_gene_percent_TRUE_5_ng_0.1de.png
pca_gene_TRUE_5_ng_0.1de.png
pca_genes.png
pca_proteins_TRUE_5_ng_p0.67de.png
pca_proteomics__TRUE_5_ng_p0.67de.png
pca_proteomics_percent_TRUE_5_ng_p0.67de.png

bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67multi_k_2heatmap_genes.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67multi_k_2heatmap_proteins.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67multiheatmap_multi.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67multiheatmap_multi_trained.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67protein_k_2heatmap_2.png
bladder_cancer/iCluster/DE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67proteinheatmap_trained.png
bladder_cancer/iCluster/multiDE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_2heatmap.png
bladder_cancer/iCluster/proteinDE_data_TRUE_ng_g_0.1_ncomp_g__ng_p_0.67_k_2heatmap.png
*.Rdata
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/AB7C4739-contents
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/BCBD1940-contents
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/AB7C4739-contents
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/AB7C4739-contents
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/BCBD1940-contents
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF-contents
.Rproj.user/0F86D29C/sources/per/t/EBBE3273
.Rproj.user/0F86D29C/sources/per/t/EBBE3273-contents
.Rproj.user/0F86D29C/sources/prop/INDEX
.Rproj.user/0F86D29C/viewer-cache/0F0C111E.Rdata
.Rproj.user/0F86D29C/viewer-cache/56588F86.Rdata
.Rproj.user/0F86D29C/viewer-cache/67F09C6F.Rdata
.Rproj.user/0F86D29C/viewer-cache/803A0AB2.Rdata
.Rproj.user/0F86D29C/viewer-cache/BC5C8017.Rdata
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/AB7C4739-contents
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/BCBD1940-contents
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF-contents
.Rproj.user/0F86D29C/sources/per/t/EBBE3273
.Rproj.user/0F86D29C/sources/per/t/EBBE3273-contents
.Rproj.user/0F86D29C/sources/prop/INDEX
.Rproj.user/0F86D29C/viewer-cache/0F0C111E.Rdata
.Rproj.user/0F86D29C/viewer-cache/56588F86.Rdata
.Rproj.user/0F86D29C/viewer-cache/67F09C6F.Rdata
.Rproj.user/0F86D29C/viewer-cache/803A0AB2.Rdata
.Rproj.user/0F86D29C/viewer-cache/BC5C8017.Rdata
.Rproj.user/shared/notebooks/paths
*.Rdata
.Rproj.user/0F86D29C/sources/per/t/0FAA731A
.Rproj.user/0F86D29C/sources/per/t/0FAA731A-contents
.Rproj.user/0F86D29C/sources/per/t/13EF4D40
.Rproj.user/0F86D29C/sources/per/t/13EF4D40-contents
.Rproj.user/0F86D29C/sources/per/t/593EA3E1
.Rproj.user/0F86D29C/sources/per/t/593EA3E1-contents
.Rproj.user/0F86D29C/sources/per/t/6BACE70B
.Rproj.user/0F86D29C/sources/per/t/6BACE70B-contents
.Rproj.user/0F86D29C/sources/per/t/AB7C4739
.Rproj.user/0F86D29C/sources/per/t/AB7C4739-contents
.Rproj.user/0F86D29C/sources/per/t/BCBD1940
.Rproj.user/0F86D29C/sources/per/t/BCBD1940-contents
.Rproj.user/0F86D29C/sources/per/t/D042D5E5
.Rproj.user/0F86D29C/sources/per/t/D042D5E5-contents
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF
.Rproj.user/0F86D29C/sources/per/t/E16E9DCF-contents
.Rproj.user/0F86D29C/sources/per/t/EBBE3273
.Rproj.user/0F86D29C/sources/per/t/EBBE3273-contents
.Rproj.user/0F86D29C/sources/prop/INDEX
.Rproj.user/0F86D29C/viewer-cache/0F0C111E.Rdata
.Rproj.user/0F86D29C/viewer-cache/56588F86.Rdata
.Rproj.user/0F86D29C/viewer-cache/67F09C6F.Rdata
.Rproj.user/0F86D29C/viewer-cache/803A0AB2.Rdata
.Rproj.user/0F86D29C/viewer-cache/BC5C8017.Rdata
.Rproj.user/shared/notebooks/paths
*.png
*.png
*.png
*.Rdata
review/output/data_diseases.txt
mofa.RDS
ppmi/plots/heatmap_2_mRNA_nfs_20.jpeg
*.jpeg
*.pdf
*.txt
*.zip
*.gz
Rplot001.svg
Rplot002.svg
Rplot003.svg
*.xlsx
